/release/*
!/release/.gitkeep
/tests/.release-test-*/
node_modules/
/build/
/dist/
/.build/
/.tmp/
/tmp/
.idea/
.vscode/
.DS_Store
[Dd]esktop.ini
Thumbs.db
*.swp
*.swo
*.tmp
*.log
.env
.env.*
!.env.example
